.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.pasteArea {
  width: 100%;
  height: 150px;
  color: var(--text-color);
  border: 2px dashed #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.uploadLabel {
  color: var(--link-color);
  cursor: pointer;
  margin-left: 5px;
  text-decoration: underline;
}

.fileInput {
  display: none;
}

.controls {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.controls label {
  margin-right: 10px;
  color: var(--text-color);
}

.controls select {
  padding: 5px;
}

.imageList {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.grid .imageWrapper {
  flex: 1 1 calc(33.333% - 10px);
}

.list .imageWrapper {
  flex: 1 1 100%;
}

.columns .imageWrapper {
  flex: 1 1 calc(25% - 10px);
}

.myMasonryGrid {
  display: flex;
  margin-left: -10px; /* gutter size offset */
  width: auto;
}

.myMasonryGridColumn {
  padding-left: 2px; /* gutter size */
  background-clip: padding-box;
}

.myMasonryGridColumn > div {
  margin-bottom: 2px;
}

.imageWrapper {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.imageWrapper.dragging {
  opacity: 0.5;
  border: 2px dashed #ccc;
}

.imageWrapper img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.imageWrapper:hover img {
  transform: scale(1.05);
}

.hoverEffect {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 100%;
  height: 100%;
  background-color: var(--hover-color);
  padding: 5px;
  display: none;
  transition: opacity 0.3s ease;
}

.imageWrapper:hover .hoverEffect {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.hoverEffect span svg {
  fill: var(--icon-color);
  width: 100px;
  height: 100px;
}

.dragging {
  border: 2px dashed #4a90e2;
  background-color: rgba(74, 144, 226, 0.1);
}